:root{

    --Primary-color: #008080;
    --Secondary-color: #20b2aa;
    --Accent-color: #e0f7fa;
    --Text-color: #333333;
    }


.emps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    padding: 2rem;
    flex-wrap: wrap;
}

.emp{
    
    box-shadow: 0px 0px 5px 5px var(--Text-color);
    padding: 1rem;
    background-color: var(--Secondary-color);
    
}

.emp>h3{
    color: var(--Accent-color);
    border-bottom:2px solid var(--Text-color);
}

button{
    padding: .2rem 1rem;
    border: none;
    background-color: blue;
    color: aliceblue;
    border-radius: 15px !important;
    transition: .4s;
    
}
.emp a{
    padding: .2rem 1rem;
    border: none;
    background-color: gray;
    color: blue;
    border-radius: 15px;
    transition: .4s;
    text-decoration: none; 
}
button[type = 'Delete']{
    background-color: red;
}
button:hover{
    box-shadow: 0px 0px 5px 3px;
    padding:.3rem 1.2rem ;
}
.forms{
    display: flex;
    justify-content: space-between;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
    border: 2px solid var(--Accent-color);
    border-radius: 35px;
    margin: 10px 2rem;
    background-color: var(--Secondary-color);
}
.top>form>div{
    display: inline;
    position: relative;
    margin-right:20px ;
}
.top>form>select{
    margin-right: 10px;
    border: 2px solid var(--Accent-color);
    border-radius: 15px;
    color: var(--Secondary-color);
}
.top>form>div>span{
    position: absolute;
    right: 20px;
    top: 0;
    display: inline-block;
    color: var(--Secondary-color);
}
.top>form>div>span>i{
 font-size: 1.5rem;
}
.top>form>div>input{
    border-radius: 28px;
    padding: .4rem 1rem;
    border: 2px solid var(--Primary-color);
    height: 100%;
    color: var(--Secondary-color);
    font-weight: 500;
    
}
