:root{

--Primary-color: #008080;
--Secondary-color: #20b2aa;
--Accent-color: #e0f7fa;
--Text-color: #333333;
}


body{
    background-color: var(--Primary-color);
    color: var(--Text-color);
}
a{
    color: var(--Text-color);
}
button{
    color: var(--Text-color);
    background-color: var(--Accent-color);
}
.box{
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box > form{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 2rem;
    background-color:var(--Secondary-color);
    border-radius: 15px;
}
button{
    padding: .4rem 1rem;
    border-radius: 15px;
    background-color: var(--Primary-color);
    transition: .4s;
    border: none;
   
}
button:hover{
    background-color: var(--Secondary-color);
    box-shadow: 0px 0px 4px 4px var(--Accent-color);
    border: none;
}
button[type ='delete']{
    background-color: red;
    border: none;
}
button[type ='delete']:hover{
    background-color: red;
    box-shadow: 0px 0px 4px 4px var(--Accent-color);
    border: none; 
}
button[type ='edit']{
    background-color: var(--Primary-color-color);
    color: var(--Accent-color);
    border: 1px solid #e0f7fa;
}
.box>form> *{
    display: inline-block;
}
.forms{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.box>form input{
    color: black;
    border-radius: 14px;
    margin: 5px 0 20px 0;
    width: 200px;
    padding: .5rem 1rem;
    border: none;
}

form input:focus{
   outline: none;
   box-shadow: 0px 0px 4px 4px aqua;
}