.employee-dashboard {
    padding: 20px;
    text-align: center;
  }
  
  .employees-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .employees-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .employee-card h3 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .employee-card p {
    margin: 5px 0;
    color: #666;
  }
  
  .employee-card:hover {
    transform: scale(1.05);
  }

  .edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
  }
  
  .edit-admin-btn{
    background-color: rgba(255, 0, 0, 0.5);
  color: white;
  margin-top: 10px;
  }

  .edit-admin-btn:hover{
    background-color: rgba(255, 0, 0, 1); 
    transform: scale(1.05); 
  }

  .edit-admin-btn:focus{
   
  outline-offset: 2px; 
  }

  .edit-admin-btn{
    position: relative;
    overflow: hidden;
  }

  .edit-admin-btn::after{
    content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); 
  transition: transform 0.6s ease;
  }


  .edit-admin-btn:hover::after{
    transform: translate(-50%, -50%) scale(1); 
  }


  .save-changes{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;

  }

  .save-changes:hover{
    background-color: rgba(255, 0, 0, 1); 
    transform: scale(1.05); 

  }

  .cancel{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    width: 100px
  }


  .cancel:hover{
    background-color: rgba(255, 0, 0, 1); 
    transform: scale(1.05); 
  }



 