.employee-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}

.employee-card {
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden; 
}

.admin-card {
  background-color: #032B44;
  color: white;
}

.employee-card:not(.admin-card) {
  background-color: #f7f7f7;
  color: #333333;
}

.employee-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px; 
}

h3 {
  margin: 0;
  font-size: 1.2em; 
}

.edit-delete-btn {
  display: flex;
  flex-direction: column;
}

.edit-btn,
.delete-btn,
.admin-btn,
.remove-admin-btn {
  margin-top: 5px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}


.edit-btn {
  background-color: #0056B3;
  color: white;
}

.delete-btn {
  background-color: #0056B3;
  color: white;
}

.admin-btn {
  background-color: #0056B3;
  color: white;
}

.remove-admin-btn {
  background-color: #0056B3;
  color: white;
}


.edit-btn:hover,
.delete-btn:hover,
.admin-btn:hover,
.remove-admin-btn:hover {
  background-color: #007BFF; 
  transform: scale(1.05); 
}


.edit-btn:focus,
.delete-btn:focus,
.admin-btn:focus,
.remove-admin-btn:focus {
  outline: 2px solid #0056B3; 
  outline-offset: 2px; 
}


.edit-btn,
.delete-btn,
.admin-btn,
.remove-admin-btn {
  position: relative;
  overflow: hidden; 
}

.edit-btn::after,
.delete-btn::after,
.admin-btn::after,
.remove-admin-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); 
  transition: transform 0.6s ease;
}


.edit-btn:hover::after,
.delete-btn:hover::after,
.admin-btn:hover::after,
.remove-admin-btn:hover::after {
  transform: translate(-50%, -50%) scale(1); 
}

.verified-badge {
  color: #0eec0e;
  margin-left: 10px;
  font-size: 18px;
  vertical-align: middle;
}
