.employee-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 16px;
  padding: 20px; 
}

.employee-card {
  border: 1px solid #ccc; 
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px; 
  text-align: center;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s;
 
}

.employee-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.employee-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px; 
}

.edit-delete-btn {
  display: flex; 
  justify-content: space-between; 
  width: 100%;
}

.edit-btn, .delete-btn {
  padding: 8px 12px;
  margin-top: 10px; 
  cursor: pointer;
  border: none;
  border-radius: 5px; 
  background-color: #a7834d; 
  color: white;
}

.delete-btn {
  background-color: #a7834d; 
}


.verified-badge {
  color: #032B44; 
  margin-left: 10px;
  font-size: 18px; 
  vertical-align: middle;
}



