.employee-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  color: white;
  text-align: center;
}

.employee-form {
  z-index: 1;
  background-color: rgba(160, 155, 155, 0.7);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
}

h2 {
  margin-bottom: 20px;
  color: white;
}

.input-items input {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-items input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8);
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px dashed rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-placeholder img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.upload-button, .remove-button {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.upload-button:hover, .remove-button:hover {
  background-color: rgba(255, 0, 0, 1);
}

.view-staff-button {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.view-staff-button:hover {
  background-color: rgba(255, 0, 0, 1);
}
