
.employee-list {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #006466;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  .employee-list h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 40px;
  }
  
  .employee-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .employee-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .employee-list li:last-child {
    border-bottom: none;
  }
  
  .employee-list li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .employee-list li .employee-info {
    flex: 1;
  }
  
  .employee-list li .employee-info p {
    margin: 0;
    padding: 0;
  }

  .edit-button, .delete-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
  }
  
  .edit-btn:hover {
    background-color: #283618;
    transform: scale(1.05);
  }

  .edit-btn{
    width: 80px;
    height: 40px;
    margin-right: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #606c38;
    
  }

  .delete-btn{
    width: 80px;
    height: 40px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color:#656D4A;
  }

  .delete-btn:hover {
    background-color: #344E41;
    transform: scale(1.05);
  }

  .input-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
  }

  .search-input{
    width: 60px;
    height: 60px;
    border-radius: 2px;


  }
  
.search-input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  