.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.back-arrow:hover {
    transform: scale(1.1); 
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
    background-size: 200% 200%;
    opacity: 0.5;
    animation: gradientAnimation 8s ease infinite;
    z-index: 0;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .login-container > div {
    z-index: 1;
    background-color: rgba(160, 155, 155, 0);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .email, .password {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8);
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  
  
  
  