body{
    background-color: rgb(32, 32, 116);
    color: aquamarine;
}
.box{
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box > form{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-color:rgb(64, 92, 36);
    border-radius: 15px;
}
.box div{
    width:100%;
    display: block !important;
}
.box>form>div> *{
    /* display: inline-block; */
    width: 100%;
    justify-content: left;
}

.box>form input{
    color: black;
    border-radius: 14px;
    margin: 5px 0 20px 0;
    width: 100%;
    padding: .5rem 1rem;
    border: none;
}

form input:focus{
   outline: none;
   box-shadow: 0px 0px 4px 4px aqua;
}

button{
    background-color: aqua;
    color: black;
    border:none;
    padding: .4rem 1rem;
    border-radius: 15px;
    font-weight: 700;
}